.custom-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  /* background-color: var(--darkPrimary); */
  font-size: 1.2rem;
  border: 1px solid #4945ff;
  background-color: #4945ff;
  line-height: 1.33;
  /* color: "currentcolor", */
  font-weight: 600;
}
